/*
!.github
!.gitignore
!LICENSE
!manifest.json
!modlist.html
!options.txt
!servers.dat
!knownkeys.txt
!icon.png

!xaero
xaero/*
!xaero/.gitignore

!kubejs
kubejs/config/probejs.json
kubejs/jsconfig.json
kubejs/README.txt

!config
config/*
!defaultoptions
!incontrol
!InventoryHUD
!inventoryprofilesnext/inventoryprofiles.json
!jade
!jei/*.ini
!openloader
!pickupnotifier
!rainbows/overworld.json
!shield_overhaul
!thirst
!embeddium*.*
!forgematica.json
!inventoryhud-client.toml
!jecharacters.toml
!jeiintegration-client.toml
!MadParticleConfig.json
!minieffects-client.yaml
!*rain.json5
!sodium*.*
!travelers*.toml
!tweakerge.json
!xaero*.*