/*
!.github
!.gitignore
!LICENSE
!manifest.json
!modlist.html
!options.txt
!servers.dat

!kubejs
kubejs/config/probejs.json
kubejs/jsconfig.json
kubejs/README.txt

!config
config/*
!defaultoptions
!incontrol
!InventoryHUD
!inventoryprofilesnext/inventoryprofiles.json
!jade
!jei
!thirst
!embeddium*.*
!inventoryhud-client
!jecharacters.toml
!jeiintegration-client.toml
!minieffects-client.yaml
!sodium*.*
!xaero*.*
