#folders
!defaultoptions/
!incontrol/
!InventoryHUD/
!jade/
!ModernUI/
!openloader/
!pickupnotifier/
!defaultoptions/
!inventoryprofilesnext/
inventoryprofilesnext/*

#files
!.gitignore
!inventoryprofilesnext/inventoryprofiles.json
!jei/*.ini
!betterfpsdist.json
!chat_tools.json
!chloride-client.json
!cull-less-leaves.json
!embeddium*.*
!immediatelyfast.json
!immersiveui.yaml
!inventoryhud-client.toml
!jecharacters.toml
!jeiintegration-client.toml
!lithium.properties
!oculus.properties
!particular-common.toml
!smoothswapping.json
!sodium*.*
!xaero*.*